@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
}

.tableDiv {
  @apply overflow-x-auto w-full;
}
.table {
  @apply text-white text-13 min-w-[800px] w-full;
}

.tableHead {
  @apply px-4 py-5 bg-[#292F32] text-white font-normal text-start text-13;
}

.tableRow {
  @apply border-b-2 bg-[#323434] border-[#15181A];
}

.tableData {
  @apply py-2.5 px-4 text-start align-middle text-xs;
}

.tableData1 {
  @apply py-2.5 px-4 text-start align-middle text-xs font-semibold;
}

.tableCircle {
  @apply h-9 align-middle mr-2 inline-block w-9 rounded-full border-2;
}

.tableRect {
  @apply h-9 align-middle mr-2 inline-block w-9 rounded-md border-2;
}

.shd {
  box-shadow: 0 -1px 10px rgba(134 32 120 / 0.4);
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    /* background: #29cc3933; */
  }
}


input[type="range"] {
  -webkit-appearance: none; /* For Chrome */
  appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(to right, #56d1cf, #9dfbfa, rgb(30, 129, 127));
  transition: 1s all;
  border-radius: 5px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #9dfbfa;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #9dfbfa;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s all;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: white; /* Change color to white on hover */
}

/* Hover effect for Mozilla */
input[type="range"]::-moz-range-thumb:hover {
  background: white; /* Change color to red on hover */
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: rgb(157 251 250);
}

.loader2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader2::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid black;
  animation: prixClipFix 2s linear infinite;
}
.loader2::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: rgb(157 251 250);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}


.loader3 {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: rgb(157 251 250);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 